@font-face {
  font-family: 'Flama Book';
  src: url('https://uploads-ssl.webflow.com/5c6a9c00d8c227d7424a0a12/5c6aafead8c227af664a3243_Flama-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Flama Semibold';
  src: url('https://uploads-ssl.webflow.com/5c6a9c00d8c227d7424a0a12/5c6aafea80da2a15e36ec85d_Flama-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Flama Semicondensed Book';
  src: url('https://uploads-ssl.webflow.com/5c6a9c00d8c227d7424a0a12/5c6ab0f180da2a7c0b6ec93e_FlamaSemicondensed-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Flama Semicondensed Semibold';
  src: url('https://uploads-ssl.webflow.com/5c6a9c00d8c227d7424a0a12/5c6ab10f80da2a08066ec9d7_FlamaSemicondensed-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Flama Book', sans-serif;
  font-size: 1em;
  line-height: 1.65;
  background: #009;
  margin: 0;
}

h1, h2 {
  color: #fff;
  margin: 0 0 2rem;
}

h2 {
  margin: 0 0 1rem;
}

p {
  color: #92c4dd;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #fff;
}

strong {
  font-family: 'Flama Semibold', sans-serif;
}